<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.humbhi.blackbox">

    <dist:module dist:instant="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/black_box"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/black_box"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blackbox"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.ui.settings.ChnageVehicleDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ui.routePlayback.NewRoutePlayBack"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.drivingBehaviour.overspeed.OverspeedDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.drivingBehaviour.overspeed.OverspeedDBActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.reports.stoppagereport.stoppagesdetails.StoppagesDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.fms.AddDocumentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.fms.DocumnetRemindersDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.login.ChangePassword.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.fms.DocumentReminder"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.fms.VehicleManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.fms.FMSActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.livetracking.LocateMyVehicle"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.banner.BillBanner"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.drivingBehaviour.DriverToDriverComparison.DriverToDriverComparisonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.drivingBehaviour.DriverMonthlyComparison.DriverMonthlyComparison"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.drivingBehaviour.NoDrivingReport.NoDrivingReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.drivingBehaviour.DrivingLimit.DrivingLimitActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.drivingBehaviour.driverClassificationReports.SafeDriversActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.drivingBehaviour.consolidateReport.consolidateVoilationDetails.ConsolidateVoilationDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.drivingBehaviour.consolidateReport.DrBehavConsolidateReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.ais140.AIS140VehicleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.workingHour.workingHourDetails.WorkingHourDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.workingHour.WorkingHourReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.temperature.tempDetails.TemperatureDetailReport"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.fuel.fuelRodDisconnection.FuelRodDisconnectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.immobalize.ImmobilizeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.fuel.FuelTheftDetail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.fuel.MultiLineChartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.livetracking.LiveCarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.drivingBehaviour.rashTurn.RashTurnActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.drivingBehaviour.DrivingRouteInitialActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.routePlayback.RoutePlayInitialSelection"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.livetracking.GLocationOnMap"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Utility.InitialActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Utility.WebViewActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/app_name" /> <!-- <service android:name="org.eclipse.paho.android.service.MqttService" /> -->
        <receiver
            android:name=".ui.Utility.SmsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.Utility.StatusActivity"
            android:exported="false"
            android:label="@string/title_activity_status" />
        <activity
            android:name=".ui.ui.drivingBehaviour.harshAccelerationReport.HarshAccelerationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.drivingBehaviour.ScoreCard.ScoreCardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.drivingBehaviour.harshBreakingReport.HarshBreakingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.drivingBehaviour.DrivingBehaviourActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.notification.GNotifications"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.ui.alerts.BatteryAlert"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.alerts.OverstopAlert"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.alerts.OverspeedAlert"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.alerts.IgnitionAlertSetting"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.routePlayback.RoutePlaybackSelection"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.reports.overspeedReport.overSpeedDetail.OverspeedDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.reports.distanceReport.distanceReportDetail.DistanceReportDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.geofencing.addFence.AddGeofenceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.geofencing.ManageGeofenceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.billingPayments.BillAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.reports.detailSummeryReport.DetailSummeryReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.reports.monthlyReport.MonthlyReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.reports.overstoppageReport.OverstoppageReportActivtiy"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.reports.overspeedReport.OverspeedReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.alerts.setAlert.SetAlertActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.alerts.AlertsOnOffSettings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.temperature.TemperatureSensorReport"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.fuel.FuelDisconnectionReport"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.fuel.FuelGraphJavaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.fuel.FuelGraphReport"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.customerCare.AddServiceRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.customerCare.callus.CallUsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.customerCare.CustomerCare"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.routePlayback.RoutePlayBack"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.fuel.FuelTheftReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.fuel.FuelFillingDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.fuel.FuelFillinReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.fuel.FuelReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.addonReports.AddOnReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.notification.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.reports.dailyreport.DailyReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.reports.stoppagereport.StoppageReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.reports.distanceReport.DistanceReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.reports.FleetReportsDashboard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.livetracking.LiveTrackingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.login.forgotpassword.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDWF0kOqQ7kKfxFwMmfShRhETCy6IHhaf0" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.ui.vehicleStatus.vehicleDetails.VehicleDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.vehicleStatus.VehicleStatusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.dashboard.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blackbox" />
        <activity
            android:name=".ui.ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blackbox">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ui.Firebase.MyFirebaseMessagingService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
    </application>

</manifest>